.direnv/
.envrc
.env
secrets
play
wp_data/
wp_db/
**/*.pem
**/*.key
**/*.qcow2
**/*.crt
**/*.iso
vm-archive/nix-approach/stupid-approach/vm/initrd
vm-archive/nix-approach/stupid-approach/vm/kernel
.sec_setup_done
.setup_done
vm/inception-vmpw
vm/vm-conf.nix
